<div class="booyah-box col-10 offset-1">
  <h1>Edit Your Article</h1>
  <%= simple_form_for @article do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>